<!doctype html>

<html>
<head>
	<title>WeCast</title>	

	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--CSS Files -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

</head>

<body>
 <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">WeCast</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/help">Help</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Content Goes here -->
  <div class="container">
    <div class="row">
      <div id="Top Anchor"></div>
      <h1 class="placeholder-title">Help</h1>
    </div>
    <p>Welcome to WeCast! Here is a brief walkthrough of what you can do with our app.<p>
      <!-- <p>Jump to: 
        <p><a href="#Navigation Anchor">Navigation</a></p> 
        <p><a href="#My Folders Anchor">My Folders</a></p> 
        <p><a href="#Inside Your Folders Anchor">Inside Your Folders</a></p> 
        <p><a href="#Note Functions Anchor">Notes</a></p>
      </p>
    <div id="Navigation Anchor"></div>
      <h2 class="placeholder-title">Navigation</h2>
      <img src="/pics/navbar.png" alt="NavBar" width="325">
        <p>This is the <b>NavBar</b> and can be accessed from any page. Clicking <b>WeCast</b> will take always take you back to the <b>My Folders</b> page. Additionally, the back button <img src="/pics/arrow.png" alt="Folder" width="25" height="25"> can be found on most pages, and will return you to the previous page.</p>
        <p><a href="#Top Anchor">Back to Top</a></p>
    <div id="My Folders Anchor"></div>
      <h2 class="placeholder-title">My Folders</h2>
        <p>This page holds all of your current folders, marked by <img src="/pics/blue_folder.png" alt="Folder" width="25" height="25"> icons. From this page, you can create a new folder by clicking the <img src="/pics/plus_btn.png" alt="Add" width="25" height="25"> icon, or enter one of your current folders by clicking on the <img src="/pics/blue_folder.png" alt="Folder" width="25" height="25"> icon.</p>
        <p><a href="#Top Anchor">Back to Top</a></p> 
     <div id="Inside Your Folders Anchor"></div> 
      <h2 class="placeholder-title">Inside Your Folders</h2>
      <img src="/pics/example_note.png" alt="Example Note">
        <p>Inside your folders you will either see nothing (you have no notes!) or something like the image shown above. These are your notes, and are labeled by their title, date and time taken. Additionally, you may create a new note by clicking the <img src="/pics/plus_btn.png" alt="Add" width="25" height="25"> icon, or enter a note by clicking on its title.</p>
        <p><a href="#Top Anchor">Back to Top</a></p>
     <div id="Note Functions Anchor"></div>
      <h2 class="placeholder-title">Note Functions</h2>
        <p>Here is a labelled diagram of the functionalities of your note page:</p> -->
        <img src="/pics/labeled_template.png" at="Labelled Note" width="350">
        <!-- <p><a href="#Top Anchor">Back to Top</a></p> -->

  </div>

  <!-- back button -->
  <div class = "back">
    <a href = "/index"><img src = "/pics/arrow.png" width="55" height = "55">
  </div>
  <!-- end of back button -->
  
  <!--Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>
